<!--<p>-->
  <!--converter works!-->
<!--</p>-->



<!--<section class="converter">-->
    <!--<div class="row">-->
        <!--<div class="list">-->
            <!--<button class="list__item" >-->
                <!--$ usd-->
            <!--</button>-->

            <!--<label >usd $</label>-->
            <!--<input type="number" id="input-1"-->
                   <!--[(ngModel)]="amountFrom"-->
                   <!--(ngModelChange)="onInputChange()"-->
            <!--&gt;-->

        <!--</div>-->

        <!--<div class="list">-->
            <!--<button class="list__item"-->
                    <!--*ngFor="let item of arrCurrency, let i = index"-->
                    <!--(click)="choiceCurrency(item, 2); activeBtn(i, 'right')"-->
                    <!--[class.active]="btnRight === i"-->
            <!--&gt;-->
                <!--{{item.currency}}-->
            <!--</button>-->

            <!--<label *ngIf="inputTitle"  for="input-2" [innerHTML]="inputTitle"></label>-->

            <!--<input *ngIf="inputTitle"-->
                   <!--[(ngModel)]="amountTo"-->
                   <!--(ngModelChange)="onInputChange()"-->
                   <!--type="number"-->
                   <!--id="input-2">-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!--<button (click)="clear()">-->
    <!--C-->
<!--</button>-->