<main class="home">

    <h1>{{'home.title' | translate}}</h1>

    <section class="buttons">
        <a mat-stroked-button color="primary"  routerLink="/auth" class="buttons__item">
            {{'nav.auth' | translate}}
        </a>
        <a mat-stroked-button color="primary"  routerLink="/profile" class="buttons__item">
            {{'nav.profile' | translate}}
        </a>
        <a mat-stroked-button color="primary"  routerLink="/blog" class="buttons__item">
            {{'nav.blog' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/visualization" class="buttons__item">
            {{'nav.visual' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/converter" class="buttons__item">
            {{'nav.converter' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/localization" class="buttons__item">
            {{'nav.localization' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/gallery" class="buttons__item">
            {{'nav.gallery' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/chat" class="buttons__item">
            {{'nav.chat' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/map" class="buttons__item">
            {{'nav.map' | translate}}
        </a>
        <a mat-stroked-button color="primary" routerLink="/slider" class="buttons__item">
            {{'nav.slider' | translate}}
        </a>
    </section>
</main>