<main class="home">

    <h1>{{'home.title' | translate}}</h1>

    <section class="buttons">
        <a routerLink="/auth" class="buttons__item">
            {{'nav.auth' | translate}}
        </a>
        <a routerLink="/profile" class="buttons__item">
            {{'nav.profile' | translate}}
        </a>
        <a routerLink="/blog" class="buttons__item">
            {{'nav.blog' | translate}}
        </a>
        <a routerLink="/visualization" class="buttons__item">
            {{'nav.visual' | translate}}
        </a>
        <a routerLink="/converter" class="buttons__item">
            {{'nav.converter' | translate}}
        </a>
        <a routerLink="/localization" class="buttons__item">
            {{'nav.localization' | translate}}
        </a>
        <a routerLink="/gallery" class="buttons__item">
            {{'nav.gallery' | translate}}
        </a>
        <a routerLink="/chat" class="buttons__item">
            {{'nav.chat' | translate}}
        </a>
        <a routerLink="/map" class="buttons__item">
            {{'nav.map' | translate}}
        </a>
    </section>
</main>