<!--<section class="blog">-->

    <!--<div class="category">-->
        <!--<button class="category__item" (click)="allCategory()" >-->
            <!--все категории-->
        <!--</button>-->
        <!--<button class="category__item" *ngFor="let item of categories" (click)="changeCategories(item.translations[0].id)">-->
            <!--{{item.translations[0].title}}-->
            <!--{{item.posts_count}}-->
        <!--</button>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="blog__item" *ngFor="let item of blog">-->

            <!--<div class="blog__item-img">-->
                <!--<img [src]="item.thumbnail_image.src" alt="">-->
            <!--</div>-->

            <!--<div class="blog__item-title">-->
                <!--{{item.translations[0].title}}-->
            <!--</div>-->

        <!--<a routerLink="{{item.slug}}"> перейти</a>-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--<button class="pagination" (click)="prevPagination()">PREV</button>-->

<!--<button class="number"-->
        <!--*ngFor=" let in of [].constructor(totalPage); let i = index;"-->

<!--&gt;-->
    <!--{{i+1}}-->
<!--</button>-->

<!--<button class="pagination" (click)="nextPagination()">NEXT</button>-->